<div class="profile">
    <section id="wrapper">
        <header id="header">
            {{ $profile := .Site.Data.profile }}
            <a href='{{ .Site.BaseURL }}'>
                <picture id="hexagon" class="2x">
                <img srcset="{{ $profile.avatar | default "/images/avatar.jpg" }}" alt="{{ $profile.name | default .Site.Params.name }}">
              </picture>
            </a>
            <h1>{{ $profile.name | default .Site.Params.name }}</h1>
            <h4>{{ $profile.bio | default .Site.Params.bio | markdownify }}</h4>
            <h4>{{ $profile.more_bio | default .Site.Params.more_bio | markdownify }}</h4>
        </header>
    </section>
</div>
